/* You can add global styles to this file, and also import other style files */
:root {
    --border-color:  #4472C4;
    --uncompiled-border-color:  red;
    --header-color:  #E37422;
    --header-text-color: white;
    --placeholder-color:  #F2C58E;
    height: 100vh;
    background-image: url("background.png");
}

body {
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

::placeholder {
    color: var(--placeholder-color);
}

textarea {
    display: inline;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.pane-holder {
    grid-template-rows: 1fr;
}

.one-column {
    display: grid;
    grid-template-columns: 1fr;
}

.pane {
    grid-template-rows: 28px minmax(min-content, 1fr);
    border: none; 
}

.pane-header {
    background-color: var(--header-color);
    color: var(--header-text-color);
    padding-left: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.pane-body {
   gap: 5px;
   align-content: space-between;
   background-color: var(--background-color);
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px;
    box-sizing: border-box;
    border: none;
    background-color: var(--background-color);
}

.data {
    padding-left: 5px;
}

span.prompt::before {
    content: '\00BB ';
}

.in-progress * {
    cursor: progress;
}

.code {
    font-family: monospace;
}

.field {
    font-family: monospace;
    color: grey;
}

.python .csharp {
    display:none;
}

.csharp .python {
    display:none;
}

code {
    font-family: monospace;
    font-size: 11pt;
    color:cornflowerblue;
}

div.button-bar {
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    height: 100%;
}

button {
    height: 20px;
    width: fit-content;
    margin-right: 5px;
    border: none;
    background-color: #77190F;;
    margin-top: 3px;
    color: white;
padding-top: 2px;
}

