/* You can add global styles to this file, and also import other style files */
:root {
    --border-color:  #4472C4;
    --uncompiled-border-color:  red;
    --header-color:  #4472C4;
    --header-text-color: white;
    --previous-expression-color:  #DAE3F3;
    --placeholder-color:  #D9D9D9;
}

body {
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

::placeholder {
    color: var(--placeholder-color);
}

textarea {
    display: inline;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

div.pane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px minmax(min-content, 1fr);
    border: 2px solid var(--border-color);
    height: 98%;
}

div.pane-header {
    background-color: var(--header-color);
    color: var(--header-text-color);
    padding-left: 5px;
}

div.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 21px;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
}

div.pane-body {
    padding: 5px;
}

div.data {
    padding-left: 5px;
}

span.prompt::before {
    content: '\00BB ';
}

.in-progress * {
    cursor: progress;
}

.code {
    font-family: monospace;
}

.field {
    font-family: monospace;
    color: grey;
}

.python .csharp {
    display:none;
}

.csharp .python {
    display:none;
}

code {
    font-family: monospace;
    font-size: 11pt;
    color:cornflowerblue;
}

.button-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    direction: rtl;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
}
