/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

::placeholder {
    color: #D9D9D9;
}

div.pane {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;

    border: 2px solid #4472C4;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    height: 98%;
}

div.pane-header {
    background-color: #4472C4;
    color: white;
    padding-left: 5px;
}

div.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #4472C4;
}

div.title {
    background-color: #4472C4;
    color: white;
    padding-left: 5px;
}

div.data {
    padding-left: 5px;
}

span.prompt::before {
    content: '\00BB ';
}

.in-progress * {
    cursor: progress;
}
