.pane-body {
    grid-template-rows:  minmax(min-content, 1fr)  min-content;
    grid-template-areas: 
    "body"
    "buttons";
    overflow: auto;
    font-size: 11pt;
}

.message {
    width: 100%;
}

.button-bar{
    grid-area: buttons;
}