.pane-body {
    grid-template-rows:  minmax(min-content, 1fr) minmax(0%, 1fr)  min-content;
    grid-template-areas: 
    "body"
    "error"
    "buttons";
    overflow: auto;
    font-size: 11pt;
    gap: 5px;
    align-content: space-between;
}

.message {
    width: 100%;
}

.button-bar{
    grid-area: buttons;
}