<ng-container *ngIf="hasTests()">
    <div class="one-colmn pane">
        <div class="pane-header">Testing</div>
        <div class="one-column pane-body"  [ngClass]="submitting ? 'in-progress' : ''">
            <textarea readonly>{{message()}}</textarea>
            <textarea  *ngIf="currentErrorMessage" readonly>{{currentErrorMessage}}</textarea>
            <div class="button-bar">
                <button [disabled]="!canRunTests()" (click)="onRunTests()">Run Tests</button>
            </div>
        </div>
    </div>
</ng-container>
