.icon.restviewer {
    background: var(--rest-icon);
    background-size: cover;
}

.icon {
    cursor: pointer;
    width: 48px;
    height: 52px;
    padding: var(--space-3);
    margin-left: var(--space-4);
}
