.pane-body {
    grid-template-rows:  minmax(5vh, 30vh) min-content;
    font-size: 11pt;
    padding: 5px 5px; 
    gap: 5px;
}

.hint-body {
    grid-template-rows:  minmax(5vh, 15vh) min-content;
}

.task, .hint {
    width: 100%;
    overflow: auto;
}

.pane-group {
    grid-template-rows:  min-content min-content;
    gap: 5px;
}
