div.pane-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  minmax(100px, max-content) min-content;
    overflow: auto;
    font-size: 11pt;
    justify-items: end;
    padding: 5px;
}

.task, .hint {
    width: 100%;
}

button {
    width: fit-content;
}

