<div class="one-column pane" [ngClass]="pendingSubmit ? 'uncompiled' : ''">
    <div class="pane-header">Code
        <div class="button-bar">
            <button [disabled]="!pendingSubmit" title="{{submitCodeTooltip}}" (click)="onSubmit()">Submit</button>
            <button [disabled]="!canNewerCode()" title="{{nextCodeTooltip}}"  (click)="newerCode()">></button>
            <button [disabled]="!canOlderCode()" title="{{previousCodeTooltip}}"  (click)="olderCode()"><</button>
        </div>
    </div>
    <div class="one-column pane-body" [ngClass]="paneSize">
        <div class="code-definition code" >
            <textarea 
                [(ngModel)]="codeDefinitions" 
                (ngModelChange)="modelChanged()" 
                placeholder="{{placeholder}}"
                spellcheck="false" 
                (paste)="onPaste($event)">
            </textarea>
        </div>
        <textarea *ngIf="currentStatus"  readonly>{{currentStatus}}</textarea>
    </div>
</div>