<div class="one-column pane" [ngClass]="pendingSubmit ? 'uncompiled' : ''">
    <div class="pane-header">Code
        <div class="button-bar">
            <button [disabled]="!pendingSubmit" (click)="onSubmit()">Submit</button>
            <button [disabled]="!canNewerCode()" title="Next code"  (click)="newerCode()">></button>
            <button [disabled]="!canOlderCode()" title="Previous code"  (click)="olderCode()"><</button>
        </div>
    </div>
    <div class="one-column pane-body">
        <div class="code-definition code">
            <textarea 
                [(ngModel)]="codeDefinitions" 
                (ngModelChange)="modelChanged()" 
                placeholder="{{placeholder}}"
                spellcheck="false" 
                (paste)="onPaste($event)">
            </textarea>
        </div>
        <textarea *ngIf="currentStatus"  readonly>{{currentStatus}}</textarea>
    </div>
</div>