
/* You can add global styles to this file, and also import other style files */

.ile {
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
}

.independent-column1 {
    grid-template-rows: minmax(min-content, 100%) minmax(min-content, 100%);
    gap: 10px 10px;
}

.independent-column2 {
    grid-template-rows: minmax(min-content, 100%)  minmax(min-content, 100%) minmax(min-content, 100%);
    gap: 10px 10px;
}