<div class="ile" [ngClass]="language">
    <div class="content">
        <div class="one-column independent-column">
            <app-expression-evaluation></app-expression-evaluation>
            <app-result></app-result>
            <app-code-definition></app-code-definition>
        </div>
        <div class="one-column independent-column">
            <app-task-description></app-task-description>
            <app-hint></app-hint>
            <app-testing></app-testing>
        </div>
    </div>
</div>