
/* You can add global styles to this file, and also import other style files */

.ile {
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    column-gap: 10px;
    height: 100%;
}

.independent-column {
    grid-template-rows: 1fr 1fr 1fr;
    align-content: start;
    align-items: stretch;
    gap: 10px 10px;
}