<div class="one-column ile" [ngClass]="language" >
    <div class="masthead"><b>MetalUp</b>.Express</div>
    <div class="content">
        <div class="one-column independent-column1">
            <app-expression-evaluation class="one-column  pane-holder"></app-expression-evaluation>
            <app-function-definition class="one-column pane-holder"></app-function-definition>
        </div>
        <div class="one-column independent-column2">
            <app-task-description class="one-column pane-holder"></app-task-description>
            <app-hint class="one-column pane-holder"></app-hint>
            <app-testing class="one-column pane-holder"></app-testing>
        </div>
    </div>
</div>
