
/* You can add global styles to this file, and also import other style files */

.ile {
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 10px;
    height: 92vh;
}

.independent-column {
    grid-template-rows: min-content min-content min-content;
    gap: 10px 10px;
    overflow:hidden;
    height: 100%;
}