div.metalup {
    height: 100%;
}

.content, textarea, input {
    font-family: monospace;
}

.editarea {
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.one-column {
    grid-template-columns: 1fr;
}

.pane {
    grid-template-rows: 28px 88vh
}

.pane-body {
    grid-template-rows:  100%;
    font-size: 11pt;
    overflow: auto;
}

input {
    width: 80%;
    margin-left: 5px;
}

pre {
    overflow: auto;
}

.control {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    padding: 20px;
    gap:20px;
    height: 20vh;
}

.payload {
    border: 1px;
    border-style: solid;
    height: 100%;
}

.content {
    overflow: hidden;
}
