<div class="metalup">
    <div class="editarea">
        <div class="one-column pane">
            <div class="pane-header">Viewing: {{currentUrl}}
                <div class="button-bar">
                    <button [title]="homeTooltip"(click)="onHome()">Home</button>
                </div>
            </div>
            <div class="one-column pane-body content">
                <pre>{{content | json}}</pre>
            </div>
        </div>

        <div class="one-column pane">
            <div class="pane-header">Follow Link
                <div class="button-bar">
                    <button [title]="methodDisabledTooltip" [disabled]="true">DELETE</button>
                    <button [title]="methodDisabledTooltip" [disabled]="true">POST</button>
                    <button [title]="methodDisabledTooltip" [disabled]="true">PUT</button>
                    <button [title]="methodEnabledTooltip">GET</button>
                </div>
            </div>
            <div class="one-column pane-body">
                <div class="control">
                    <div><label for="newurl">Link Url:</label><input id="newurl" [(ngModel)]="url" placeholder="Copy/Paste from pane on left e.g. https://metalup..."/></div>
                    <label>Payload:</label><textarea class="payload" [(ngModel)]="payload" rows="10" [placeholder]="payloadPlaceholder"></textarea>
                    <button [title]="okTooltip" [disabled]="disableOk" (click)="onOk()">Go</button>
                    <div>{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>