<div class="one-column ile" [ngClass]="language" >
    <div class="masthead">MetalUp.Express</div>
    <div class="content">
        <div class="one-column independent-column1">
            <app-user class="one-column pane-holder" ></app-user>
            <app-expression-evaluation class="one-column  pane-holder"></app-expression-evaluation>
            <app-function-definition class="one-column pane-holder"></app-function-definition>
        </div>
        <div class="one-column independent-column2">
            <app-selected-language class="one-column pane-holder"></app-selected-language>
            <app-task class="one-column pane-holder"></app-task>
            <app-hint class="one-column pane-holder"></app-hint>
            <app-testing class="one-column pane-holder"></app-testing>
        </div>
    </div>
</div>