.view-area {

    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 1fr;
    align-content: space-between;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

div.gemini {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 1fr min-content;
    align-content: space-between;
    height: 100%;
    background-color: #1F1110;
    margin: 5px 5px 0 5px;
}

div.metalup {
    margin: 5px 5px 0 5px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 1fr min-content;
    align-content: space-between;
}

.composite-footer {
  background-color: #1F1110;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
}

.icons {
    display: flex;
  }

.masthead {
    font-size: 24pt;
    color: var(--masthead-color);
    margin-right: 10px;
}