.masthead {
    font-size: 24pt;
    color: var(--header-color);
}

.ile {
    grid-template-rows: min-content minmax(min-content, 90vh);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
}

.independent-column1 {
    grid-template-rows: min-content minmax(min-content, 1fr) minmax(min-content, 1fr);
    gap: 5px 5px;
}

.independent-column2 {
    grid-template-rows: min-content minmax(min-content, 1fr) minmax(min-content, 100%);
    gap: 5px 5px;
}