.masthead {
    font-size: 24pt;
    color: var(--header-color);
}

div.ile {
    height : 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-gap: 5px 5px;
}