<div class="ile" [ngClass]="language" >
    <div class="masthead">MetalUp.Express</div>
    <div class="content">
        <div class="independent-column1">
            <app-user></app-user>
            <app-expression-evaluation></app-expression-evaluation>
            <app-function-definition></app-function-definition>
        </div>
        <div class="independent-column2">
            <app-selected-language></app-selected-language>
            <app-task></app-task>
            <app-testing></app-testing>
        </div>
    </div>
</div>