<div class="ile" [ngClass]="language" >
    <div class="masthead">MetalUp.Express</div>
    <div class="content">
        <div class="independent-column1">
            <app-user class="pane-holder" ></app-user>
            <app-expression-evaluation class="pane-holder"></app-expression-evaluation>
            <app-function-definition class="pane-holder"></app-function-definition>
        </div>
        <div class="independent-column2">
            <app-selected-language class="pane-holder"></app-selected-language>
            <app-task class="pane-holder"></app-task>
            <app-testing class="pane-holder"></app-testing>
        </div>
    </div>
</div>