textarea {
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding-bottom: 2px;
    box-sizing: border-box;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
}

div.pane-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
    justify-items: end;
}

.pane-body>div {
    width: 100%;
}

.uncompiled {
    border: 2px solid red;
}