<div class="one-column pane" [ngClass]="pendingSubmit ? 'uncompiled' : ''">
    <div class="pane-header">Functions
        <div class="button-bar">
            <button [disabled]="!pendingSubmit" (click)="onSubmit()">Submit</button>
            <button *ngIf="!!skeleton" [disabled]="skeletonUnchanged" (click)="onReset()">Reset</button>
        </div>
    </div>
    <div class="one-column pane-body" [ngClass]="submitting ? 'in-progress' : ''">
        <div class="function-definition code">
            <textarea [(ngModel)]="functionDefinitions" (ngModelChange)="modelChanged()" spellcheck="false" (paste)="onPaste($event)"></textarea>
        </div>
        <textarea *ngIf="currentStatus"  readonly>{{currentStatus}}</textarea>
    </div>
</div>