textarea {
    width: 99%;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
}

button {
    margin-right: 2px;
    margin-bottom: 2px;
    width: fit-content;
    height: fit-content;
}

div.pane-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr .1fr;
    justify-items: end;
}

.pane-body > div {
    width: 100%;
}

.uncompiled {
    border: 2px solid red;
}

.function-definition  {
    display: inline-flex;
    flex-flow: row;
    justify-items: flex-start;
    font-family: monospace;
}