<div *ngIf="showPage" class="metalup">
    <h1>Accept Invitation to become a registered user of MetakUp.Express</h1>
    <p>To accept the invitation, please log in using one of the recognised authentication providers (currently Google, GitHub, Facebook, or LinkedIn).</p>
    <p><em>Important:</em> After successful registration <i>always log in using the same authentication provider.</i> If you use a different one you will not be recognised
        and so will not have access to the functionality of MetalUp.Express.</p>

    <button class="btn btn-primary btn-margin" (click)="registeredService.login()">Log In</button>
</div>
