<div class="one-column pane">
    <div class="pane-header">Task: {{currentTask.Title}}
        <div class="button-bar">
            <button title="{{returnToAssignmentTooltip}}" *ngIf="canReturnToAssignment()" (click)="returnToAssignment()">Return To Assignment</button>
            <button title="{{newTaskTooltip}}"  [disabled]="!canGetNextTask()" (click)="getNextTask()">Next Task</button>
            <button title="{{nextTaskTooltip}}"  [disabled]="!canViewNextTask()" (click)="viewNextTask()">></button>
            <button title="{{previousTaskTooltip}}"  [disabled]="!canViewPreviousTask()" (click)="viewPreviousTask()"><</button>
        </div>
    </div>
    <div class="one-column pane-body" [ngClass]="paneSize">
        <div class="task" [innerHtml]="taskHtml"></div>    
    </div>
</div>