<div class="metalup" [ngClass]="selectedLanguage">
    <div class="editarea" [ngClass]="columns">
        <div class="one-column pane">
            <div class="pane-header">Editor
                <div class="button-bar">
                    <button (click)="onSave()">Save</button>
                    <button (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="one-column pane-body" [ngClass]="paneSize">
                <textarea [(ngModel)]="editContent">
            </textarea>
            </div>
        </div>

        <div class="one-column pane">
            <div class="pane-header">Display
                <div class="button-bar">
                    <div *ngFor="let l of languages">
                        <input class="radio" (click)="onRadio(l)" type="radio" id="{{l}}" name="language" value="{{l}}" [checked]="isChecked(l)"/>
                        <label class="radio" for="l">{{l}}</label>
                    </div>
                </div>
            </div>
            <div class="one-column pane-body" [ngClass]="paneSize">
                <div class="display" [innerHtml]="editContent"></div>    
            </div>
        </div>
    </div>
</div>
