<div *ngIf="loaded" class="metalup" [ngClass]="classes">
    <div class="editarea" [ngClass]="columns">
        <div class="one-column pane">
            <div class="pane-header">Edit: {{name}}
                <div class="button-bar">
                    <button (click)="onCancel()">Cancel</button>
                    <button [disabled]="!canSave()" (click)="onSave()">Save</button>
                    <div class="warning">{{warning}}</div>
                </div>
            </div>
            <div class="one-column pane-body" [ngClass]="paneSize">
                <textarea spellcheck="false" [(ngModel)]="editContent">
            </textarea>
            </div>
        </div>

        <div class="one-column pane">
            <div class="pane-header">Display: {{name}}
                <div class="button-bar">
                    <div *ngFor="let l of languages">
                        <input class="radio" (click)="onRadio(l)" type="radio" id="{{l}}" name="language" value="{{l}}"
                            [checked]="isChecked(l)" />
                        <label class="radio" for="l">{{l}}</label>
                    </div>
                </div>
            </div>
            <div class="one-column pane-body" [ngClass]="paneSize">
                <div class="display" [innerHtml]="editContent"></div>
            </div>
        </div>
    </div>
</div>