div.metalup {
    height: 100%;
}

.editarea {
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    gap: 10px;
}

.one-column {
    grid-template-columns: 1fr;
}

.two-columns {
    grid-template-columns: 1fr 1fr;
}

.pane-body {
    grid-template-rows:  100%;
    font-size: 11pt;
}

.task {
    width: 99%;
    overflow: auto;
    margin: 5px;
}

.pane-size-x-large {
    height: 88vh;
}