div.ile {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height : 800px;
    width: 1500px;
}

div.column {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50%;
}

div.info {
    display: flex;
    flex-flow: row;   
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid blue;
}

div.title {
    position: relative;
    background-color: blue;
    color: white;
    width: 50%;
    padding-left: 5px;
}

div.data {
    width: 50%;
    padding-left: 5px;
}

div.pane {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: 2px solid blue;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 45%;
    margin-left: 2px;
    margin-right: 2px;
}

div.pane-header {
    background-color: blue;
    color: white;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 5%;
    padding-left: 5px;
}

div.pane-body {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 95%;
    justify-content: flex-start;
    overflow: hidden;
}

div.half-pane {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50%;
}

span.expression {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: min-content;
}

div.expression {
    display: flex;
    flex-flow: row;
    justify-items: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

textarea.expression {
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: max-content;
}

.expression {
    font-family: monospace;
}

div.space {
    flex-shrink: 10;
    flex-grow: 0;
    flex-basis: 90%;
}