.info, .pane-header, data {
    background-color: transparent;
    font-size: 16pt;
    color: white;
}

.info {
    display: grid;
    grid-template-columns: min-content min-content;
}

.data {
    padding-left: 20px;
}