<div class="one-column pane">
    <div class="pane-header">{{title}}
        <div class="button-bar">
            <button *ngIf="canGetNextHint()" (click)="getNextHint()">Next Hint</button>
            <button [disabled]="!canViewNextHint()" (click)="viewNextHint()">></button>
            <button [disabled]="!canViewPreviousHint()" (click)="viewPreviousHint()"><</button>
        </div>
    </div>
    <div class="one-column pane-body">
        <div class="hint" [innerHtml]="hintHtml"></div>
    </div>
</div>