<div class="one-column pane">
    <div class="pane-header">{{title}}
        <div class="button-bar">
            <button title="Get a new hint" [disabled]="!canGetNextHint()" (click)="getNextHint()">Next Hint</button>
            <button title="Next hint" [disabled]="!canViewNextHint()" (click)="viewNextHint()">></button>
            <button title="Previous hint" [disabled]="!canViewPreviousHint()" (click)="viewPreviousHint()"><</button>
            <div *ngIf="canGetNextHint()" class="cost">{{cost}}</div>
        </div>
    </div>
    <div class="one-column pane-body">
        <div class="hint" [innerHtml]="hintHtml"></div>
    </div>
</div>